<apex:page standardController="Account">
    
    <apex:pageBlock title="Account Summary">
        <apex:pageBlockSection >
            Account owner: {! Account.Owner.Name } <br/>
            Name: {! Account.name } <br/>
            Phone: {! Account.Phone } <br/>
            Industry: {! Account.Industry } <br/>
			Revenue: {! Account.AnnualRevenue } <br/>
            
            
        </apex:pageBlockSection>
    </apex:pageBlock>
    
</apex:page>