<apex:page standardController="Contact">
    <h1> Create new contact </h1>
    	<apex:form >
            <apex:pageBlock >
                <apex:pageBlockSection title="Account section">
            	
                	<apex:inputField value="{! Contact.firstName }" />
                    <apex:inputField value="{! Contact.lastName }" />
                    <apex:inputField value="{! Contact.Email }" />
                    
              		<apex:commandButton action="{! save}" value="Save" />
                </apex:pageBlockSection>
            </apex:pageBlock>>
    </apex:form>
</apex:page>