<apex:page standardController="Opportunity">
    
    <apex:pageBlock title="opportunities list">
        <apex:pageBlockSection title="opportunities main">
            <apex:outputField value="{! Opportunity.Name }"/> 
            <apex:outputField value="{! Opportunity.Amount }"/> 
            <apex:outputField value="{! Opportunity.CloseDate }"/> 
            <apex:outputField value="{! Opportunity.Account.Name }"/> 
    	</apex:pageBlockSection>
    </apex:pageBlock>
    
</apex:page>