<apex:page>
    <head>
        <title>SHOP</title>
        <link rel="stylesheet" href="testFile.css" type="text/css"/>
    </head>

    <style>
        #page {
            weight: 100%;
            height: 800px;
            margin: 1%;
            padding: 10px;
            border: 8px solid #00BFFF;
            border-radius: 25px;
            background-color: #FFF8DC;
        }

        #leftBox {
            float: left;
            display: block;
            width: 70%;
            height: 91%;
            border: 8px solid #FFA07A;
            border-radius: 5px;
            margin: 1%;
        }

        #main {
            float: left;
            margin: 1% 0 0 2%;
            color: #7B68EE;
            font-size: 30px;
        }

        #searchbox {
            float: left;
            display: block;
            width: 97%;
            height: 8%;
            border: 5px solid #8B4513;
            border-radius: 5px;
            margin: 1%;
            font-size: 30px;
            background-color: aliceblue;
        }

        #searchtext {
            float: left;
            margin: 1% 0 1% 1%;
            color: Red;
        }

        #catalog {
            float: left;
            display: block;
            width: 97%;
            height: 74%;
            border: 5px solid #8B4513;
            border-radius: 5px;
            margin: 1% 1% 3% 1%;
            font-size: 30px;
        }

        #upleft {
            float: left;
            display: block;
            width: 45%;
            height: 35%;
            border: 5px solid #6A5ACD;
            border-radius: 60px;
            margin: 5% 1% 3% -16%;
        }

        #upright {
            float: right;
            display: block;
            width: 45%;
            height: 35%;
            border: 5px solid #6A5ACD;
            border-radius: 60px;
            margin: 5% 3% 3% -2%;
        }

        #downleft {
            float: left;
            display: block;
            width: 45%;
            height: 35%;
            border: 5px solid #6A5ACD;
            border-radius: 60px;
            margin: 25% 1% 3% -47%;
        }

        #downright {
            float: right;
            display: block;
            width: 45%;
            height: 35%;
            border: 5px solid #6A5ACD;
            border-radius: 60px;
            margin: 1% 3% 3% 1%;
        }

        #catalogframe {
            float: left;
            align: center;
            margin: 2% 0 0 30%;
            color: #DA70D6;
        }

        #rightBox {
            float: left;
            display: block;
            width: 24%;
            height: 91%;
            border: 8px solid #6A5ACD;
            border-radius: 5px;
            margin: 1%;
            font-size: 30px;
            background-color: aquamarine;
        }

        #ShoppingCart {
            float: left;
            margin: 2% 0 0 5%;
            color: #FFA07A;
            font-size: 30px;
        }

        #rightup {
            float: left;
            display: block;
            width: 83%;
            height: 300px;
            border: 5px solid #6A5ACD;
            border-radius: 5px;
            margin: 4px 5px 0 12px;
            padding: 3px 0 3px 40px;
            font-size: 30px;
            background-color: aqua;
        }

        #removebutton {
            display: inline-block;
            width: 90%;
            height: 50px;
            margin: 50% 0 5% 0;
            color: Black;
            background-color: Black;
            padding: 10px 0 40px 0;
            border-radius: 28px;
            border: 5px solid #7B68EE;
            cursor: pointer;
            text-align: center;
        }

        #purchasebutton {
            border: 5px solid #FFA07A;
            border-radius: 50px;
            color: Purple;
            background-color: Yellow;
            width: 90%;
            height: 50px;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 60% 0 0 5%;
            cursor: pointer;
        }

        #addToCart {
            border: 5px solid Red;
            border-radius: 50px;
            color: Purple;
            background-color: Yellow;
            width: 250px;
            height: 80px;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 30px;
            margin: 7% 0 0 50%;
            cursor: pointer;

        }
    </style>

    <body>
        <div id="page">
            <div id="leftBox">
                <h2 id="main" align="left"><strong>MAIN</strong></h2>

                <div id="searchbox">
                    <h1 id="searchtext">Search, Filters</h1>
                </div>

                <div id="catalog">
                    <h1 id="searchtext">Product catalog</h1>

                    <div id="upleft">
                        <h1 id="catalogframe">Name, Description</h1>
                        <button id="addToCart">
                            <a href="https://markos-dev-ed.lightning.force.com/lightning/o/Cart__c/new?count=1&nooverride=1&useRecordTypeCheck=1&navigationLocation=MRU_LIST&backgroundContext=%2Flightning%2Fo%2FCart__c%2Flist%3FfilterName%3DRecent">Add
                                to cart</a></button>
                    </div>

                    <div id="upright">
                        <h1 id="catalogframe">Name, Description</h1>
                        <button id="addToCart">
                            <a href="https://markos-dev-ed.lightning.force.com/lightning/o/Cart__c/new?count=1&nooverride=1&useRecordTypeCheck=1&navigationLocation=MRU_LIST&backgroundContext=%2Flightning%2Fo%2FCart__c%2Flist%3FfilterName%3DRecent">Add
                                to cart</a></button>
                    </div>

                    <div id="downleft">
                        <h1 id="catalogframe">Name, Description</h1>
                        <button id="addToCart">
                            <a href="https://markos-dev-ed.lightning.force.com/lightning/o/Cart__c/new?count=1&nooverride=1&useRecordTypeCheck=1&navigationLocation=MRU_LIST&backgroundContext=%2Flightning%2Fo%2FCart__c%2Flist%3FfilterName%3DRecent">Add
                                to cart</a></button>
                    </div>
                    
                    <div id="downright">
                        <h1 id="catalogframe">Name, Description</h1>
                        <button id="addToCart">
                            <a href="https://markos-dev-ed.lightning.force.com/lightning/o/Cart__c/new?count=1&nooverride=1&useRecordTypeCheck=1&navigationLocation=MRU_LIST&backgroundContext=%2Flightning%2Fo%2FCart__c%2Flist%3FfilterName%3DRecent">Add
                                to cart</a></button>
                    </div>
                </div>

            </div>


            <div id="rightBox">
                <h1 id="ShoppingCart">Shopping cart</h1>
                <div id="rightup">Name, Discription
                    <button id="removebutton">
                        <h2>Remove, Quantity</h2>
                    </button>
                </div>
                <button id="purchasebutton">
                    <h2>PURCHAISE</h2>
                </button>
            </div>
        </div>
    </body>
</apex:page>